<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>400007976927-mok719ha6s2h0uuk1rrc6gt844hohjv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400007976927-mok719ha6s2h0uuk1rrc6gt844hohjv3</string>
	<key>API_KEY</key>
	<string>AIzaSyD1LFsluDnuogPYlfxp6T7A4jSTVIvOQcU</string>
	<key>GCM_SENDER_ID</key>
	<string>400007976927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acn.firebase-crud-sample</string>
	<key>PROJECT_ID</key>
	<string>fir-1106</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-1106.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400007976927:ios:4085ace8c8854a35</string>
	<key>DATABASE_URL</key>
	<string>https://fir-1106.firebaseio.com</string>
</dict>
</plist>